.totop{
  &:before{
   
      content: "\f102";
  
  }
  &.show{
    display: block;
  }
  &.hidden{
    display: none;
  }
  display:none;
  position: fixed;
  width: 40px;
  height: 40px;
  bottom: 40px;
  right: 40px;
  background-color: black;
  opacity: 0.5;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 4px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  
}
.arrow{
  width: 62%;
  height: 82%;
  z-index: -2;
  position: relative;
  top: 4px;
  left: 4px;
  color: #fff;  
  cursor: pointer;
  img{
    width: 30px;
    height: 30px;
    position: relative;
  } 
}