.container{
  flex-flow: column wrap;
  display: flex;
  
  margin-top: 25px;
  
  align-items: center;
  justify-content: center;

  .row{
      display: flex;
      width: 100%;

    .col{
      flex: 0 0 auto;
      width: 300px;
      margin: 9px;
      position: relative;
    }
    .box1{
      height: 370px;
      
      margin: 5px;
      position: relative;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
      }
      &:hover{
        img{
        opacity: 1;
        transform: scale(1.1);
        transition-duration:0.5s;
      }
    }
    }
    .box2{
      height: 320px;
      overflow: hidden;
      margin: 5px;
      position: relative;
      img{
        width: 100%;
        height: 100%;
      }
      &:hover{
        img{
        opacity: 1;
        transform: scale(1.1);
        transition-duration:0.5s;
      }
    }
  }
    .imagen{
      width:100%;
      height:100%;
      display: inline-block;
    }
    .buttonCategorie{
      position: relative;
      bottom: 65px;
      left: 20px;
      width: 80%;
      height: 33px;
      background-color: #fff;
      border-color: #fff;
      font-size: 14px;
      cursor: pointer;
      border: 1px solid #c3bdbd;
      border-radius: 3px;
      &:hover{
        background-color: #E91E63;
        color:#fff;
        border-color: #E91E63;
      }
    }
  }
}

@media (max-width: 767px) { 
  .container{
    
    .row{
      flex-wrap: wrap ;
      align-items: center;
      justify-content: center;
    }
  }
 }
