.container{
  flex-flow: column wrap;
  display: flex;
  
  margin-top: 25px;
  
  align-items: center;
  justify-content: center;

  .row{
    display: flex;
    width: 900px;
    flex-wrap: wrap;
    align-content: center;
    
    .col{
      flex: 0 0 31%;
      margin: 10px;
      position: relative;

    }
  

    .title{
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;
      height: auto;
      min-height: 35px;
    }
    .description{
      font-size: 12px;
      line-height: 16px;
      margin-bottom: 10px;
      height: auto;
      min-height: 35px;
      color:#888888;
    }
    .imagen{
      width:100%;
      height:100%;
      display: inline-block;
      border: 1px solid #888;
    }
    .buttonCategorie{
      position: relative;
      bottom: 50px;
      left: 20px;
      width: 80%;
      height: 30px;
      background-color: #fff;
      border-color: #fff;
      font-size: 14px;
      cursor: pointer;
      cursor: pointer;
      &:hover{
        background-color: #E91E63;
        color:#fff;
        border-color: #E91E63;
      }
    }
  }
}

@media (max-width: 767px) { 
  .container{
    
    .row{
      flex-wrap: wrap ;
      align-items: center;
      justify-content: center;
    }
  }
 }
