.contentSpiner{
  display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.spinner{
  width: 70px;
  height: 70px;
  background: #eee;
  border-radius: 50%;
  position: relative;
  margin: 40px;
  display: inline-block;
 
}
.spinner:after{
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.spinner:before{
  content: "";
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.spinner__1:after{
    position: absolute;
    border: 4px solid transparent;
    border-top-color: #2ECC71;
    border-bottom-color: #2ECC71;
    top: -4px;
    left: -4px;
    animation: spin 2s linear infinite;
  }
  .spinner__1:before {
    position: absolute;
    top: 17px;
    left: 17px;
    height: 35px;
    width: 35px;
    background-color: #1ABC9C;
    animation: shrink 3s ease infinite;
  }


@keyframes spin {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.4);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}