.boxCategory{
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  width: 25%;
  height: auto;
  border: 0px;
  margin: 15px;
  .name{
    font-size: 15px;
    font-weight: bold;
    line-height: 19px;
  }
    .title{
      font-size: 13px;
      line-height: 16px;
      position: relative;
    }
    .precio{
      position: relative;
      bottom: 0px;
      z-index: 1;
      background-color: #fff;
      width: 100%;
      color: #E91E63;
      padding-left: 10px;
      text-align: center;
      font-size: 22px;
    }
    .ventas{
      position: relative;
      top: 0px;
      z-index: 1;
      background-color: #E91E63;
      width: 100%;
      color: #fff;
      padding-left: 10px;
    }
    .shopcatbox{
      display: block;
      overflow: hidden;
      position: relative;
      height: 200px;
      text-align: center;
    
      .title{
        z-index: 1;
      }
        .name{
          margin:0 auto;
          z-index: 2;
          
          text-align: center;
          position: relative
        }
        .description{
          
          position: absolute;
          bottom:0px;
          background: rgba(255, 255, 255, 0.3);
        }
        img{
          position: relative;
          width: auto;
          height: 100%;
          margin: 0 auto;
          top: 0;
          z-index: 1;
       
        }
        &:hover{
          cursor: pointer;
          img{
            opacity: 1;
          }
          
        }
      
    }
}