.producto{
  box-sizing: border-box;
  margin: 1rem .25em;
  flex: 0 0 23.333333%;
  max-width: 23.333333%;
  .productoSubContent{
    position:relative;
    padding: 10px;
    .title{
      position: relative;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 14px;
      line-height: 19px;
      margin-bottom: 5px;
    }
    .precio{
      font-size: 19px;
      line-height: 19px;
      color: #E91E63;
    }
  }
  
  .productoContent{
    position: relative;
    height: 300px;
    text-align:center;
    .boton{
      position:relative;
      bottom:0px;
      opacity: 0;
      z-index: 3;
      margin: 0 auto;
      width:150px;
      height: 35px;
      font-size: 15px;
      border-radius: 23px;
      background-color: #000;
      color:#fff;
      border-color:#000;
      cursor:pointer;
      &:hover{
        background-color:#E91E63;;
        border-color:#E91E63;;
      }
    }
    .overlay{
      position: absolute;
      width:100%;
      height: 100%;
      opacity: 0;
      background-color: rgba(0,0,0,0.3);
      opacity: 0;
    }
    .image{
      width: 90%;
      min-height: 250px;
      max-height: 300px;
    }
    &:hover{
      .overlay{
        opacity: 1
      }
      .boton{
        opacity: 1;
        transition: all 0.5s;
        bottom:10px;
      }
    }
  }
}





/* Landscape phones and down */
@media (max-width: 480px) {

  .producto{
    width:90%;
    flex: 0 0 90.333333%;
    max-width: 90.333333%;
  }
 }


/* Landscape phone to portrait tablet */
@media (min-width:500) and (max-width: 767px) { 
  .producto{
    width:50%;
    flex: 0 0 40.333333%;
    max-width: 40.333333%;
  }
 }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

  .producto{
    width:33%;
    flex: 0 0 32%;
    max-width: 32%;
  }
}

/* Large desktop */
@media (min-width: 1100px) {  
  .producto{
    width:18%;
    flex: 0 0 18%;
    max-width: 18%;
  }
}